body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333;
    background: #edf;
}

table, th, td {
    border: 1px solid black;
    }
    th, td {
            padding: 15px;
    }

ol, ul, dl, li {
    margin: 8px 8px 8px 12px;
}

p {
    margin: 8px 8px 8px 40px;
    padding: 0;
    line-height: 140%;
}

blockquote {
    margin: 12px 8px 12px 48px;
    padding: 0;
    line-height: 140%;
    font-weight: bold;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    margin: 28px 8px 24px 8px;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    background-color: #339;
    color: #cfc;
}

h2 {
    font-size: 24px;
    margin: 20px 8px 12px 16px;
    color: #066;
}

h2.subhead {
    font-weight:
    normal;
    margin-top:
    0;
}

h3 {
    font-size: 20px;
    margin: 20px 8px 12px 24px;
    color: #633;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    margin: 16px 8px 12px 32px;
    color: #339;
    font-weight: bold;
}

