body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #333;
    background: #dff;
}

table {
    margin: 8px 40px 8px 40px;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    font-weight: normal;
}

th, td {
            padding: 8px;
    }

td {
    background: #dff;
}

td#languages {
    color: #dff;
    background: #245;
}

th#chapter-head {
    font-size: 20px;
    color: #245;
    background: #cff;
}

th {
    background: #afd;
}

li {
    margin: 8px 12px 8px 12px;
}

ol, ul, dl {
    margin: 16px 40px 16px 40px;
}

p {
    margin: 8px 40px 8px 40px;
    padding: 0;
    line-height: 140%;
}

blockquote {
    margin: 12px 48px 12px 48px;
    padding: 0;
    line-height: 140%;
    font-weight: bold;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    margin: 0px 0px 24px 0px;
    padding-bottom: 24px;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    background-color: #245;
    color: #dff;
}

h2 {
    font-size: 32px;
    margin: 24px 16px 20px 16px;
    color: #245;
}

h3 {
    font-size: 28px;
    margin: 20px 24px 16px 24px;
    color: #633;
    font-weight: bold;
}

h4 {
    font-size: 24px;
    margin: 16px 32px 12px 32px;
    color: #339;
    font-weight: bold;
}

h5 {
    font-size: 22px;
    margin: 16px 32px 12px 32px;
    color: #366;
    font-weight: bold;
}

/* HEADER */
/* not used at present */

#header {
    width: auto;
    height: 60px;
    padding: 10px 40px;
    line-height: 40px;
    background-color: #245;
    color: #dff;
    overflow: hidden;
}

#header a:link, #header a:visited {
    color: #fff;
}

#header a:focus , #header a:hover {
    text-decoration: underline;
}

#branding {
    float: left;
}

#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 24px;
    color: #ffcc33;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #ffcc33;
}

#branding h2 {
    padding: 0 10px;
    font-size: 14px;
    margin: -8px 0 8px 0;
    font-weight: normal;
    color: #ffc;
}


figure {
    text-align: center;
/*    margin: 12px 20px 12px 100px;  */
}

figcaption {
    color: #606;
    font-style: italic;
    text-align: center;
    margin: 16px 20px 12px 20px;
}

.illustr-container {
    width: 1000px;
    height: 400px;
    flex: 1;
    margin: 20px 20px 0 0;
    overflow: auto;
}

.illustr-text {
    display: inline-block;
    width: 33%;
}

.illustration {
    display: inline-block;
    float: right;
}

#logo {
    float: left;
    margin: 0 20px 0 0;
}

#user-tools {
    float: right;
    padding: 0;
    margin: 0 0 0 20px;
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: right;
}

#user-tools a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: #285d91;
    color: #285d91;
}

summary#sum1 {
    font-size: 24px;
    color: #245;
    margin: 16px 24px 16px 24px;
}

summary#sum2 {
    font-size: 22px;
    color: #633;
    margin: 12px 32px 12px 32px;
}

summary#sum3 {
    font-size: 20px;
    color: #339;
    margin: 8px 40px 8px 40px;
}
