body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #333;
    background: #fff;
}

table, th, td {
    border: 1px solid black;
    }
    th, td {
            padding: 15px;
    }

p, ol, ul, dl, li {
    margin: 10px 16px 16px 8px;
}

p {
    padding: 0;
    line-height: 140%;
}

h1,h2,h3,h4,h5 {
    font-weight: bold;
}

h1 {
    margin: 12px 8px 24px 8px;
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    background-color: #339;
    color: #cfc;
}

h2 {
    font-size: 20px;
    margin: 12px 8px 12px 8px;
    color: #096;
}

h2.subhead {
    font-weight:
    normal;
    margin-top:
    0;
}

h3 {
    font-size: 18px;
    margin: 8px 12px 8px 8px;
    color: #633;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    margin: 8px 16px 8px 8px;
    color: #339;
    font-weight: bold;
}

