body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: #333;
    background: #dff;
    font-family: initial;
}

table {
    font-size: 1.4em;
    margin: .5em 2.5em .5em 2.5em;
    border-collapse: collapse;
}

th {
    border: .03125em solid black;
    font-weight: normal;
}

th, td {
    padding: .5em;
}

td {
    background: #dff;
}

td#languages {
    color: #dff;
    background: #245;
}

th#chapter-head {
    font-size: 1.4em;
    color: #245;
    background: #cff;
}

th {
    background: #afd;
}

canvas {
    margin: .5em 2em .5em 2em;
    border: .1em dashed black;
}

li {
    margin: .5em .75em .5em .75em;
}

ol, ul, dl {
    font-size: 1.4em;
    margin: 1em 2.5em 1em 2.5em;
}

ol.nested, ul.nested, dl.nested {
    font-size: 1em;
}

p, summary.sum4 {
    font-size: 1.4em;
    margin: .5em 2.5em .5em 2.5em;
    padding: 0;
    line-height: 140%;
}

blockquote {
    font-size: 1.1em;
    margin: .75em 4.5em .75em 4.5em;
    padding: 0;
    line-height: 140%;
}

p.authors {
    text-align: center;
}

h1,h2 {
    font-weight: bold;
}

h1 {
    margin: 0 0 1.5em 0;
    padding-bottom: 1em;
    text-align: center;
    font-weight: 300;
    font-size: 2.5em;
    background-color: #245;
    color: #dff;
}

h1.toc-head {
    margin: 0 0 0 0;
}

h2 {
    font-size: 2.2em;
    margin: 1.25em 1em 1.25em 1em;
    color: #245;
}

h3 {
    font-size: 2em;
    margin: 1.15em 1.5em 1em 1.5em;
    color: #633;
    font-weight: bold;
}

h4 {
    font-size: 1.8em;
    margin: 1em 2em .75em 2em;
    color: #339;
    font-weight: bold;
}

h5 {
    font-size: 1.6em;
    margin: 1em 2em .75em 2em;
    color: #366;
    font-weight: bold;
}

#header {
    width: auto;
    height: 60;
    padding: 10 2.5em;
    line-height: 2.5em;
    background-color: #245;
    color: #dff;
    overflow: hidden;
}

#header a:link, #header a:visited {
    color: #fff;
}

#header a:focus , #header a:hover {
    text-decoration: underline;
}

figure, figure.toc {
    text-align: center;
}

figure.toc {
    margin: 0em 4em 4em 4em;
}

figure.left {
    margin: 2em 1em 1em 6em;
    text-align: left;
}

figcaption {
    color: #606;
    font-style: italic;
    text-align: center;
    margin: 1em 1.25em .75em 20;
}

.python-console {
    text-align: center;
    float: center;
    width: 100%;
    font-family: sans-serif; 
}

.illustr-container {
    width: 1000;
    height: 400;
    flex: 1;
    margin: 1.25em 20 0 0;
    overflow: auto;
}

.illustr-text {
    display: inline-block;
    width: 33%;
}

.illustration {
    display: inline-block;
    float: right;
}

#logo {
    float: left;
    margin: .1em 1.25em 0 1.25em;
}

#user-tools {
    float: right;
    padding: 0;
    margin: 0 1.25em 0 1.25em;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.00375em;
    text-transform: uppercase;
    text-align: right;
}

#user-tools a {
    border-bottom: .03125em solid rgba(255, 255, 255, 0.25);
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: #285d91;
    color: #285d91;
}

summary.sum1 {
    font-size: 2em;
    color: #245;
    margin: 1em 1.5em 1em 1.5em;
}

summary.sum2 {
    font-size: 1.8em;
    color: #633;
    margin: .75em 1.5em .75em 2.5em;
}

summary.sum3 {
    font-size: 1.6em;
    color: #339;
    margin: .5em 1.5em .5em 3.5em;
}

summary.menu_sum {
    font-size: 1.6em;
    color: #249;
    margin: .5em 0em .5em 0em;
}

p.lead-quote {
    margin: .75em 8em .75em 8em;
}

.center {
    margin: 0 auto;
}

